

/* Media Query for 768px breakpoint */
@media only screen and (max-width: 786px) {
  .container-section-1{
    background-color: #ffffff;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    height: 500px;
}
.container-section-text{
    padding: 10px;
}


.button-container-section {
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50px; /* Adjust this value based on your layout */
    /* display: flex;
    flex-direction: row;
    gap: 20px; */
  }
  .vertical-button {
    display: flex;
    margin-bottom: 10px;
    padding: 35px;
    font-size: 20px;
    background-color: #e5e5e5;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    position: relative; /* Add position relative */
    padding-left: 50px; /* Add padding for bullet point */
  }
  .bullet-point {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #9356DC;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .button-hover{
    padding: 5px 8px;
    border-radius: 50px;
    background-color: #9356DC;
    border: none;
    width: 4%;
    height: 7%;
    text-align: center;
  }

  .button-hover p{
    margin-bottom: 10px;
  }
}


@media (min-width: 768px) and (max-width: 992px){
  .container-section-1{
    background-color: #ffffff;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    height: 500px;
  }
  .container-section-text{
    padding: 10px;
  }
  
  
  .button-container-section {
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50px; /* Adjust this value based on your layout */
    /* display: flex;
    flex-direction: row;
    gap: 20px; */
  }
  .vertical-button {
    display: flex;
    margin-bottom: 10px;
    padding: 35px;
    font-size: 20px;
    background-color: #e5e5e5;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    position: relative; /* Add position relative */
    padding-left: 50px; /* Add padding for bullet point */
  }
  .bullet-point {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #9356DC;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-hover{
    padding: 5px 8px;
    border-radius: 50px;
    background-color: #9356DC;
    border: none;
    width: 4%;
    height: 7%;
    text-align: center;
  }
  
  .button-hover p{
    margin-bottom: 10px;
  }
}

@media (min-width: 992px){
  .container-section-1 {
    background-color: #ffffff;
    justify-content: center;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    height: 250px;
  }
  
  .container-section-text {
    padding: 10px;
  }
  
  .button-container-section {
    display: flex; /* Add this to make the buttons appear in a row */
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 50px;
    gap: 30px;
  }
  
  .vertical-button {
    display: flex;
    margin-bottom: 10px;
    padding: 35px;
    font-size: 16px;
    background-color: #e5e5e5;
    color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    position: relative;
    padding-left: 30px;
  }
  
  .bullet-point {
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #9356DC;
    color: #ffffff;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button-hover {
    padding: 5px 8px;
    border-radius: 50px;
    background-color: #9356DC;
    border: none;
    width: 4%;
    height: 7%;
    text-align: center;
  }
  
  .button-hover p {
    margin-bottom: 10px;
  }
  
}